{% extends "object_detection/base.html" %}

{% block content %}
<style>
    .beige-text {
        color: #f5deb3;
        text-shadow: 1px 1px 15px rgba(255, 255, 255, 0.5);
    }
    .form-container {
        position: relative;
    }
    .form-container form {
        margin-top: 65px; /* Отступ для строки с кнопкой "Выберите файл" */
    }
    .form-container button {
        margin-top: 230px; /* Отступ для кнопки "Upload Image" */
        background-color: #f5deb3; /* Цвет светло-бежевый */
        color: #293133; /* Цвет текста антрацит */
        border: none;
    }
    .form-container button:hover {
        background-color: #d9c091; /* Цвет кнопки при наведении, чуть темнее */
    }
</style>

<div class="text-center beige-text">
    <h2>Add Image Feed</h2>
    <div class="form-container d-inline-block">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Upload Image</button>
        </form>
    </div>
</div>
{% endblock %}