{% extends "object_detection/base.html" %}

{% block content %}
<style>
    /* Стили для текста и ссылок */
    h1, p, .centered-link {
        color: #f5deb3; /* Светло-бежевый цвет текста */
        text-shadow: 1px 1px 15px rgba(255, 255, 255); /* Тень текста */
    }

    .centered-link {
        font-size: 24px; /* Увеличенный размер текста ссылки */
    }

    .centered-link b {
        color: #ffffff; /* Белый цвет для текста внутри тега <b> */
    }
</style>
<h1 align="center">Welcome to the Object Detection Platform</h1>
<p align="center">This is the home page of your application</p>
<div align="center">
    <a href="{% url 'object_detection:dashboard' %}" class="centered-link">Go to <b>Dashboard</b></a>
</div>
{% endblock %}