{% extends "object_detection/base.html" %}

{% block content %}
<style>
    .beige-text {
        color: #f5deb3;
        text-shadow: 0px 0px 30px #000000;
    }
    .clr-link {
        color: #ffffff;
    }
    .clr-link:hover {
        color: #f5deb3;
    }
    .centered-link {
        font-size: 20px; /* Увеличенный размер текста ссылки */
    }
</style>
<div class="beige-text">
    <h2>Пароль изменён</h2>
    <p>Ваш пароль был успешно изменён. Теперь вы можете <a href="{% url 'object_detection:login' %}" class="centered-link clr-link">войти</a> с новым паролем.</p>
</div>
{% endblock %}
