{% extends "object_detection/base.html" %}

{% block content %}
<style>
    .beige-text {
        color: #f5deb3;
        text-shadow: 0px 0px 30px #000000;
    }
    .btn-custom-beige {
        background-color: #f5deb3; /* Цвет фона кнопки светло-бежевый */
        color: #293133; /* Цвет текста антрацит */
        border: none;
    }
    .btn-custom-beige:hover {
        background-color: #d9c091; /* Цвет кнопки при наведении */
    }
</style>
<div class="beige-text">
    <h2 align="center">Сброс пароля</h2>
    <p>Введите свой адрес электронной почты, и мы вышлем вам инструкции по сбросу пароля.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-custom-beige">Отправить</button>
    </form>
</div>
{% endblock %}
