{% extends "object_detection/base.html" %}

{% block content %}
<style>
    .beige-text {
        color: #f5deb3;
        text-shadow: 0px 0px 30px #000000;
    }
    .btn-custom-beige {
        background-color: #f5deb3;
        color: #293133;
        border: none;
    }
    .btn-custom-beige:hover {
        background-color: #d9c091;
    }
</style>
<div class="beige-text">
    <h2>Установить новый пароль</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-custom-beige">Сохранить</button>
    </form>
</div>
{% endblock %}
